@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
body,
p,
b,
h1,
h2,
h3,
h4,
h5,
span,
a,
li,
option,
th,button,label,input,textarea,.alert {
    font-family: 'Tajawal', sans-serif !important;
}

input[name="exp_year"] {
    margin-top: 0 !important;
}

a.ps-btn.ps-btn--sm {
    text-align: center;
}

table.table.table-striped.table-step-shipping {
    margin-bottom: 0;
}

@media (max-width: 600px) and (min-width: 0px) {
    .ps-btn--sm,
    button.ps-btn--sm {
        padding: .5rem 1rem;
    }
    .ps-section__content {
        margin-top: 0;
    }
    .checkoutbtn {
        padding: 10px 17px;
    }
    span.TotalPrice {
        width: 100% !important;
        margin-top: 13px;
        display: inline-block;
    }
    .ps-block--shopping-total {
        overflow: hidden;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background: transparent;
    }
    .ps-block--payment-method .ps-tab-list li.active .ps-btn {
        background-color: rgb(195, 20, 50) !important;
        background: rgb(195, 20, 50) !important;
    }
}

img#talcartat {
    padding-top: 30px;
}

.ps-block--site-features {
    border: none;
}

.ster {
    padding: 15px 0;
}

.ps-cart__footer a {
    width: 46%;
    float: right;
    text-align: center;
}

.ps-cart--mini .ps-cart__footer {
    overflow: hidden;
}

.ps-cart--mini figure {
    padding-left: 0 !important;
    display: initial !important;
    align-items: initial !important;
}

.ps-cart__footer a:first-child {
    margin-left: 17px;
    text-align: center;
}

.ps-product--cart-mobile {
    border-bottom: 1px solid #00000021;
    padding-bottom: 15px;
}

.ps-cart__items {
    max-height: 380px;
    overflow-x: hidden;
}

@media all and (min-width:0px) and (max-width: 600px) {
    .ps-block--site-features {
        padding: 0 !important;
    }
    .ps-block__item {
        padding-right: 10px !important;
    }
    aside.widget.widget_footer {
        width: 100% !important;
    }
}

.ps-block--site-features .ps-block__item:first-child {
    padding-left: 0;
}

.ps-block--site-features .ps-block__item:nth-child(2) {
    padding: 0;
}

.ps-block--site-features .ps-block__item:nth-child(3) {
    padding-right: 0;
    padding-left: 0;
}

.ps-block--site-features .ps-block__item:last-child {
    padding-right: 0;
}

.ps-block__item {
    min-width: 280px;
    padding-right: 45px !important;
}

.home-pagination {
    text-align: center;
    margin-bottom: 45px;
}

@media all and (min-width:0px) and (max-width: 600px) {
    .ps-block--site-features {
        padding: 0 !important;
    }
    .ps-block__item {
        padding-right: 10px !important;
    }
    aside.widget.widget_footer {
        width: 100% !important;
    }
}

.ps-section__content {
    margin-top: 20px;
}

.header--mobile.header--sticky .navigation--mobile {
    background-color: rgb(195, 20, 50) !important;
    color: white !important;
}

.header--mobile .navigation--mobile {
    color: white;
}

.carousel-item {
    height: 600px;
}

.navigation--list a:nth-child(2) {
    display: none;
}

.catimg {
    width: 30px;
    margin-right: 30px;
    margin-top: 7px;
}

@media (max-width: 600px) and (min-width: 0px) {
    .navigation--list {
        padding: 10px;
    }
    a.navigation__item.ps-toggle--sidebar {
        width: 20%;
        margin: 0 5px;
    }
    .carousel-item {
        height: 220px !important;
    }
    .dress-card-head img {
        max-height: 150px;
    }
    .form-group--number.zaydnaks.updowntintele {
        width: 35%;
        display: inline-table;
    }
    .ps-cart__footer2 {
        display: none;
    }
    .ps-cart__footer.ps-cart__footer2 {
        display: none;
    }
    .ps-cart__items {
        max-height: initial;
    }
    .form-group--number.zaydnaks.updowntintele {
        display: inline-table !important;
    }
    .sidebar-shop ul {
        display: none;
    }
}

.form-group--number.zaydnaks.updowntintele {
    display: none;
}

.alert.alert-error {
    background: #f33434;
    border-radius: 0;
    color: white;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 40px;
    z-index: 99999;
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2000;
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(-360deg);
    }
}

.is-hide {
    display: none;
}

.checkout-steps-action input {
    padding: 15px 40px 30px 40px;
}

ul.cat-list li {
    list-style: none;
}

ul.cat-list {
    background: whitesmoke;
    padding: 0;
}

ul.cat-list li {
    border-bottom: 1px solid #c31432;
    padding: 15px 30px;
}

ul.cat-list li:last-child {
    border: 0;
}

ul.cat-list li a {
    color: #c31432;
}

.row.productsrow {
    width: 100%;
    margin-bottom: 45px;
}

@media (max-width: 600px) and (min-width: 0px) {
    .row.productsrow {
        margin: 0;
    }
    .widget {
        margin-bottom: 0;
        margin-top: 20px;
    }
    nav.toolbox.toolbox-pagination {
        text-align: center;
        margin-top: 30px;
    }
    .ps-footer {
        padding-top: 10px;
    }
}

.sidebar-categories {
    background: #e2e0de;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
}

.sidebar-categories ul li {
    border-bottom: 1px solid #0000002b;
    padding: 9px;
}

.erreur404 {
    text-align: center;
}

.backHome {
    margin-top: 10px;
}

.erreur404 {
    padding-top: 70px;
}

aside.widget.widget_footer {
    width: 25%;
    float: right;
}

.dress-card .product {
    max-width: 150px;
}

.dress-card .dress-card-head {
    text-align: center;
}

h4.dress-card-title {
    font-weight: 500;
    font-size: 15px;
    height: 49px;
}

.dress-card {
    border: 1px solid #00000021;
    border-radius: 0;
    padding: 0 20px;
}

.dress-card {
    margin-bottom: 25px;
    min-height: 371px;
}

.dress-card .dress-card-head {
    min-height: 204px;
}

@media (max-width: 600px) and (min-width: 0px) {
    .nestele {
        width: 50%;
    }
    .nestele img {
        width: 100%;
    }
    .dress-card-body {
        padding: 0;
    }
}

.mmenu-active .mobile-menu-container {
    transform: translateX(0%) !important;
    visibility: visible;
}

.dress-card .product {
    text-align: center;
    margin: 0 auto;
    max-height: 150px;
    margin-top: 30px !important;
}

.ps-widget--account-dashboard .ps-widget__content ul li.active {
    background-color: rgb(195, 20, 50);
}

.ps-widget--account-dashboard .ps-widget__content ul li a:hover {
    background-color: rgb(195, 20, 50);
    color: #fff;
}

.ps-btn,
button.ps-btn {
    color: white;
}

.shipping-address-box {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
    position: relative;
}

.shipping-address-box.active::before {
    content: "\e77a";
    position: absolute;
    left: 13px;
    font-family: 'Linearicons';
    background: rgb(195, 20, 50);
    color: white;
    padding: 5px;
    border-radius: 15px;
}

.shipping-address-box a {
    padding: 10px 25px;
    color: white !important;
    text-decoration: none;
    margin-top: 15px;
    text-align: center;
}

a.ps-btn.ps-btn--sm {
    color: white;
    padding: 10px 25px;
}

.empty-cart {
    width: 100%;
    margin-top: 50px;
}

.empty-cart i {
    font-size: 200px;
}

.empty-cart p {
    font-weight: 700;
    font-size: 20px;
    line-height: 100px;
}

input#search-input {
    text-align: right;
}

#results,
#results-mobile {
    display: none;
    border: 1px #CCC solid;
    width: 535px;
    position: absolute;
    background: #FFF;
    z-index: 999;
    max-height: 400px;
    overflow-y: scroll;
}

#results-mobile {
    width: 360px;
}

#results>p,
#results-mobile>p {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 0;
    padding: 10px 0 10px 10px;
}

#results>p:hover,
#results-mobile>p:hover {
    background-color: rgb(195, 20, 50);
    color: #FFF;
}

div.img-cont {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

div#carouselExampleIndicators {
    margin-bottom: 100px;
}

.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-6.nestele {
    margin: 10px 0px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-6.nestele {
        min-width: 50% !important;
    }
    .carousel-inner {
        max-height: 350px;
    }
    .carousel-item {
        height: 350px;
    }
    div#carouselExampleIndicators {
        margin-bottom: 0px !important;
    }
    .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-6.nestele {
        margin: 0px;
    }
}


.item.video::before {
    content: "\f144";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    top: -2px;
    font-size: 30px;
    left: 15px;
    color: rgb(195 20 50);
}

.item.video {
    position: relative;
    background: #00000075;
}

.item.video img {
    transition: none !important;
}

.alert.alert-success.d-flex.justify-content-center {
    font-family: 'Tajawal';
}

.empty-order {
    width: 100%;
}

.empty-order i {
    font-size: 130px;
}

.empty-order p {
    font-size: 25px;
    line-height: 50px;
}

.zoomWindow {
    float: left !important;
    left: 0 !important;
    right: 489px !important;
}


.lg-icon {
    font-family: lg !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lg-outer {
    direction: ltr;
}


.slick-track {
    float: left;
}



@media (max-width: 600px) and (min-width: 0px) {
    div#carouselExampleIndicators {
        margin-bottom: 0px !important;
    }
    .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-6.nestele {
        margin: 0px;
    }
        .zoomWindow {
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
    }
}

.fix-pos{
    top: 49%!important;
}

.ps-block__content.d-flex.flex-column.mt-3 a {
    padding: 11px 0 !important;
}

@media (max-width: 600px) and (min-width: 0px) {
    .dress-card .dress-card-head {
        height: 174px;
        min-height: 130px;
    }
    .dress-card .product{
        margin-top: 20px !important;
    }
    .dress-card {
        min-height: 340px;
    }
    h4.dress-card-title {
        margin-bottom: 0px;
    }
        .removit {
        width: 40px;
        padding: 10px;
    }

    .ps-product--cart-mobile {
        padding-bottom: 0;
        min-height: 80px;
    }

    .tachbkat {
        display: inline-flex;
    }

    .tachbkat .removit {
        width: 10% !important;
    }

    .tachbkat .ps-product__thumbnail {
        width: 20% !important;
    }

    .tachbkat .ps-product__content.lhsabbdyaltele {
        width: 50%;
    }

    .tachbkat .form-group--number.zaydnaks.updowntintele {
        width: 20%;
    }
}

.ps-cart--mini .ps-cart__footer h3{
    padding: 20px;
    margin-bottom: 0 !important;
}

span.dress-card-old-price {
    float: left;
}

h2.post-title {
    width: 100%;
    margin-top: 45px;
}

.post-content {
    width: 100%;
    margin-bottom: 55px;
}

.main-product-categories-menu ul {
    padding: 10px;
    border-top: 1px solid #d1010e;
    text-align: center !important;
}

.main-product-categories-menu ul li {
    float: none;
    display: inline-block;
}

.a9jdaw figure a img {
    width: auto;
    min-height: 300px;
    text-align: center;
}

#applyCoupon {
    transform: rotate(180deg);
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

@media (max-width: 600px) and (min-width: 0px) {


.product-default {
    width: 50% !important;
}
.slide-bg {
    height: 180px;
}

.home-slider {
    height: 180px;
}

.home-slider-container, .home-slide {
    height: 180px;
}

.product-intro.divide-line.up-effect {
    margin-top: 43px;
}

.a9jdaw figure a img {
    width: auto;
    min-height: 200px;
    text-align: center;
}

}