.card.weekly-product-card,
.product-thumbnail-side,
.product-thumbnail-side img,
.product-thumbnail.d-block {
    height: 100%;
}

.top-products-area .product-thumbnail.d-block {
    height: 70%;
}

.top-products-area .card.top-product-card {
    height: 100%;
}

.top-products-area img {
    height: 100%;
    object-fit: contain;
}

.product-thumbnail-side img{
    max-height: 100% !important;
}

p{
    font-size: 11px;
}

.guest-sidenav{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
}